{% load static %}
<section id="about" style="padding: 10px;">
    <div class="section-heading">
        <h3 style="text-align: center;
        margin-bottom: 10px;font-size: 31px;">About Us</h3>
    </div>
    <div class="about-flex">
        <div class="about-items">
            <h3>Founder</h3>
            <img src="{% static 'img/founder.jpg' %}" alt="Founder" class="image" style="width: 200px; height:auto;">
            <h3>Vishal Kukadiya</h3>
        </div>
        <div class="about-manangment">
            <div class="about-manangment-detail">
                <h3 class="about-heading">CEO</h3>
                <img src="{% static 'img/CEO.jpg' %}" alt="Founder" class="image" style="width: auto; height:150px; border-radius: 50px;">
                <h3>Sonu Sharma</h3>
            </div>
            <div class="about-manangment-detail">
                <h3 class="about-heading">CFO</h3>
                <img src="{% static 'img/CEO.jpg' %}" alt="CFO" class="image" style="width: auto; height:150px; border-radius: 50px;">
                <h3>Chetan Sharma</h3>
            </div>
            <div class="about-manangment-detail">
                <h3 class="about-heading">MD</h3>
                <img src="{% static 'img/CEO.jpg' %}" alt="MD" class="image" style="width: auto; height:150px; border-radius: 50px;">
                <h3>Vikash Yadav</h3>
            </div>
            <div class="about-manangment-detail">
                <h3 class="about-heading">HR</h3>
                <img src="{% static 'img/CEO.jpg' %}" alt="HR" class="image" style="width: auto; height:150px; border-radius: 50px;">
                <h3>Pravin Kumar</h3>
            </div>
        </div>
    </div>
</section>