<section id="service">
    <div class="flex" style="border-bottom: 2px solid black;">
        <div class="section-heading">
            <h3>Services</h3>
        </div>
        <div class="section-items">
            <div class="sub-section-items">
                <div class="info">
                    <h3 class="center-service">Land Book</h3>
                    <p class="service-info">If you want to land a book to read, you can get the book by filling in
                        the basic information by clicking on the Land Book button below.</p>
                    <p class="service-info">
                        Remember that the book must be returned as well after you learn.</p>
                    <a href="/landbook/" style="text-decoration:none;text-align: center;display: block;color: black;border: 2px solid black;width: 100px;margin: auto;border-radius: 10px;margin-top: 30px;">Land Book</a>
                </div>
            </div>
            <div class="sub-section-items" id='none'>
                <div class="info">
                    <h3 class="center-service">Return Book</h3>
                    <p class="service-info">If you have landed the book and want to return it, then click on the Return Book button below and return the book.</p>
                    <a href="/returnbook/" style="text-decoration:none;text-align: center;display: block;color: black;border: 2px solid black;width: 100px;margin: auto;border-radius: 10px;margin-top: 78px;">Return Book</a>
                </div>
            </div>
            <div class="sub-section-items" id='none1'>
                <div class="info">
                    <h3 class="center-service">Donate Book</h3>
                    <p class="service-info">If you want to donate book in our library book then click on Donate Book button and fill your basic information.</p>
                    <a href="/donatebook/" style="text-decoration:none;text-align: center;display: block;color: black;border: 2px solid black;width: 100px;margin: auto;border-radius: 10px;margin-top: 96px;">Donate Book</a>
                </div>
            </div>
        </div>
    </div>
</section>